
#login {
  margin-top: 2rem;
  margin-bottom: 2rem;
  #haka-login {
    box-sizing: border-box;
    max-width: 100%;
    word-wrap: break-word;

    #haka {

      img {
        max-width: 100%;
        box-sizing: border-box;
      }
    }
  }

}

#main_content {

  .vipunen img {
    width: 200px;
    margin-bottom: 20px;
  }

}
