
#login {
  margin-top: 2rem;
  margin-bottom: 2rem;
  #haka-login {
    box-sizing: border-box;
    max-width: 100%;
    word-wrap: break-word;

    #haka {
      img {
        max-width: 100%;
        box-sizing: border-box;
      }
    }
  }

}

.centered {
  text-align: center;
}

#main_content {

  .vipunen img {
    height: 50px;
  }

}
