
$theme-color: #FF4000;
$theme-color-hover: #ff520e;

$font-body: Verdana, Arial, sans-serif;
$font-heading: Verdana, Arial, sans-serif;
$font-heading-light: Verdana, Arial, sans-serif;
$font-size-body: 14px;

h4 {
  color: $theme-color;
  font-size: 20px;
}

button {
  background-color: $theme-color;
}

@media (max-width: 750px) {
  font-size: 0.8em;
}
