
$theme-color: #f7941d;
$theme-color-hover: #B35D1D;

$font-body: "Crimson Text", serif;
$font-heading:  "Open Sans", serif;
$font-heading-light:  "Open Sans", serif;
$font-size-body: 14px;

h1,h2,h3,h4,h5,h6 {
  font-family: $font-heading;
}

p {
  font-size: 1.4rem;
}

h4 {
  color: $theme-color;
  font-size: 20px;
}


@media (max-width: 750px) {
  font-size: 0.8em;
}
