
$theme-color: #FF4000;
$theme-color-hover: #ff5404;

$font-body: Verdana, Arial, sans-serif;
$font-heading: Verdana, Arial, sans-serif;
$font-heading-light: Verdana, Arial, sans-serif;
$font-size-body: 14px;

h1,h2,h3,h4,h5,h6 {
  font-family: $font-heading;
}

p {
  font-size: 1.4rem;
}

h4 {
  color: $theme-color;
  font-size: 20px;
}


@media (max-width: 750px) {
  font-size: 0.8em;
}
