server {
    listen 8080;
    root /usr/share/nginx/html;
    location /${NGINX_PATH} {
        # $uri and ${NGINX_PATH}/index.html are for location /
        # $uri/index.html is for location /something
        try_files $uri $uri/index.html ${NGINX_PATH}/index.html =404;
    }
    location /${NGINX_PATH}/ {
        # this is only for location /something
        try_files $uri /${NGINX_PATH}/index.html =404;
    }
}
