/* Base Application Styles */

@import '../styles/globals';

body {
  line-height: 1.6;
  color: #000;
  font-family: $font-body;
  font-size: $font-size-body;
}

a {
  text-decoration: none;
}

.separator {
  border-top: 1px solid #eee;
}

.hidden {
  display: none;
}

button {
  background-color: #00b5e2;
  color: #fff;
}
